<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SBMContext"
		 providerName="System.Data.SqlClient"
		 connectionString="Data Source=BEELINK1\MSSQLSERVER01;Initial Catalog=SBM;Integrated Security=SSPI; TrustServerCertificate=True" />
	</connectionStrings>
</configuration>